.container{
    display: flex;
    min-height: stretch;
    background-color: #F4F4F4;
    height:100%; 
}

.innerContainer{
    padding: 20px;
    width: 80% !important;
}

* {
    font-size: 16px;
}

.homeContainer {
    display: flex;
    flex-direction: row;
    width: stretch;
}

.homeSubContainer{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}
