.homeContainer {
    display: flex;
    flex-direction: row;
    width: stretch;
}

.homeSubContainer{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}

.leftContainer {
    width: 70%;
}

.rightContainer{
    width: 30%;
}

.homeAdvices {
    margin-top: 20px;
    font-weight: bold;
    font-size: 1em;
}

.logoChange > .fluid {
    width: stretch;
}
