html, body, #root, .App, .App-header {
    height: 100%;
    margin: 0;
    background-color: white;
    /*font-size: calc(10px + 2vmin);*/
    color: white;
    text-align: center;
}

.container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.header {
    flex: 0 1 auto;
    /* The above is shorthand for:
    flex-grow: 0,
    flex-shrink: 1,
    flex-basis: auto
    */
}

.content {
    flex: 1 1 auto;
}

.footer {
    flex: 0 1 40px;
}